
<footer class="footer">
    <div class="footer-links">
      <h3>Recursos de Lectura</h3>
      <ul>
        <li><a href="#">Libros más Vendidos</a></li>
        <li><a href="#">Nuevos Lanzamientos</a></li>
        <li><a href="#">Recomendaciones</a></li>
        <li><a href="#">Autores Destacados</a></li>
        <li><a href="#">Géneros Literarios</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Explora</h3>
      <ul>
        <li><a href="#">Nuestra Historia</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Eventos Literarios</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#">Registro de Usuarios</a></li>
        <li><a href="#">Club de Lectura</a></li>
        <li><a href="#">Reservas de Libros</a></li>
        <li><a href="#">Envíos y Devoluciones</a></li>
      </ul>
    </div>
    <div class="footer-content">
        <div class="social-icons">
            <a href="#" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        
      <p>© 2023 Biblioteca Virtual. Todos los derechos reservados.</p>
      
    </div>
  </footer>
  